#logo{
    width: 60px;
    height: 60px;
}

.sec1{
    background-image: url("./Images/bg1.jpg");
    height: 100vh;
    background-size: cover; 
    background-repeat: no-repeat;
}

.banner2{
    background-image: url("./Images/bg3.jfif");
    background-size: cover; 
    background-repeat: no-repeat;
}

.dr div{
    background-color: whitesmoke;
}

p{
    font-family: 'Crimson Text', serif;
}

h1{
    font-family: 'Jomhuria', cursive;
}

.linkbar ul li{
    position: relative;
}

.linkbar li a{
    color: lightblue;
    font-size: 15px;
    transition: width 3s, heigh 5s, color 3s, transform 3s;
}

.linkbar li a:hover{
    font-size: 18px;
    font-weight: bold;
    color: black;
    transition-timing-function: ease-out;
}

.linkbar ul li::after{
    content: '';
    height: 2px;
    width: 0;
    background: burlywood;
    position: absolute;
    left: 0;
    bottom: 1px;
    transition: 1s;
}

.linkbar ul li:hover::after{
    width: 100%;
    background-color: lightskyblue;
} 
